.drop{
    font: 20px sans-serif;
    
}

h1, h2, b{
    color: darkslateblue;
}

#csvfile{
    background-color:grey;
    font-size: 14px;
}

body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#submit{
    font-size: 14px;
}